@model Crowdfund_TeamProject.Core.Model.Project

@{
    var tiers = Model.Tiers.ToList();
    var posts = Model.UpdatePost.ToList();
}

<div class="card">
    <img src="~/images/pletter1.jpg" class="card-img-top" style="max-width:200px">

    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>

        <p class="card-text">
            Discreption:  @Model.Description <br />
            Amount: @Model.Achieved / @Model.Goal <br />
            Category : @Model.Category<br />
            @Html.ActionLink("Go Back", "Index", new { })
        </p>

    </div>

    @{ if (Model.Tiers.Count > 0) {
            <h5>Reward List</h5>

            <table class=" table table-striped col-md-12">

                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                        <th scope="col">Claim</th>
                    </tr>
                </thead>

                <tbody>
                    @{foreach (var t in tiers){
                            <tr>
                                <td>@t.Amount</td>
                                <td>@t.Description</td>
                                <td>
                                    <button type="button" class="btn-primary js-claim-tier">Claim</button>

                                    <div hidden="hidden">
                                        @Html.TextAreaFor(c => t.Amount, new { @class = "form-control js-tier-amount" })
                                    </div>

                                    <div hidden="hidden">
                                        @Html.TextAreaFor(c => c.Id, new { @class = "form-control js-project-id" })
                                    </div>

                                </td>
                            </tr>
                      }
                    }
                </tbody>
            </table>
       } 
    }

    <div class="card-footer">
        <small class="text-muted">Expliration Date @Model.ExpirationDate</small>
    </div>

</div>

<br/>
@{ if (Model.UpdatePost.Count > 0) {
      <h5>Post List</h5>

      <table class=" table table-striped col-md-12">

            <thead>
                <tr>
                   <td>Post</td>
                   <td>Post Date</td>
                </tr>
            </thead>

            <tbody>
            @{ foreach (var t in posts) {
                    <tr>
                        <td>@t.Post</td>
                        <td>@t.DatePost</td>
                    </tr>
               }
            }
            </tbody>
        </table>
   }
}

<div class="form-group green-border-focus js-updates">
    <label for="exampleFormControlTextarea5">You can Post your Updates here</label>
    <textarea class="form-control js-post-text" id="exampleFormControlTextarea5" rows="3"></textarea><br />
    <button type="button" class="btn btn-primary js-btn-add-update">Post</button>
</div>
