@model Crowdfund_TeamProject.Core.Model.Options.AddBackerOptions



    <form class=" js-create-backer " method="post"
          action="@Url.Action("create", "backer")" >
        <img class="mx-sm-3 mb-2" src="~/images/backerimage1.jpg" alt="" width="150" height="150" >
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group mx-sm-3 mb-2">
            <label for="@Html.IdFor(c => c.Name)">Backer Username</label>
            @Html.TextBoxFor(c => c.Name,
                new { @class = "form-control js-name", placeholder = "enter your username" })
            <small id="namelHelp" class="form-text text-muted">
                Your userName must be unique
            </small>
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="@Html.IdFor(c => c.Email)">Email</label>
            @Html.TextBoxFor(c => c.Email,
              new { @class = "form-control js-email", placeholder = "enter your email address" })
            <div class="js-validation-email validation-error" style="display: none">
                Invalid Email
            </div>
        </div>

        <button type="button" class="btn btn-primary js-submit-backer mx-sm-3 mb-2" disabled>Submit</button>
    </form>

<div class="alert mx-sm-3 mb-2 js-create-backer-alert" role="alert"
     style="display: none">
</div>


