@model Crowdfund_TeamProject.Web.Models.CreateTierViewModel

    <form class=" js-create-tier " method="post"
          action="@Url.Action("create", "tier")">

        <img class="mx-sm-3 mb-2" src="~/images/rew1.png" alt="" width="150" height="150">

        <h1 class="h3 mb-3 font-weight-normal">Please add your Reward for @Model.ProjectTitle</h1>

        <div class="form-group mx-sm-3 mb-2">

            <label for="@Html.IdFor(t => t.Options.Amount)">Price Reward</label>

            @Html.TextBoxFor(t => t.Options.Amount,
                new
                     {
                    @class = "form-control invalid-feedback js-amount js-money",
                    placeholder = "enter the price for the Reward"
                })

            <div class="js-validation-money validation-error" style="display: none">
                Invalid Amount
            </div>
        </div>

        <div class="form-group mx-sm-3 mb-2">

            <label for="@Html.IdFor(c => c.Options.Description)">Reward Description</label>

            @Html.TextAreaFor(c => c.Options.Description,
                new {
                    @class = "form-control js-description",
                    placeholder = "enter your description for your Reward"
                })

            <small id="desclHelp" class="form-text text-muted">
                Be creative for your Backer
            </small>

        </div>

        <button type="button" class="btn btn-primary js-add-tier">Save</button>

    </form>

<div class="js-project-id" hidden="hidden">
    @Html.TextAreaFor(c => c.ProjectId, new { @class = "form-control js-id" })
</div>

<div class="alert mx-sm-3 mb-2 js-create-tier-alert" role="alert"
     style="display: none">
</div>
